DATABASE_URL=postgresql://nextjs_app:app_password@localhost:5432/nextjs_db
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=admin_password
APP_DB_USER=nextjs_app
APP_DB_PASSWORD=app_password
APP_DB_NAME=nextjs_db
BETTER_AUTH_SECRET=SOME_SUPER_SECRET_KEY_HERE
BETTER_AUTH_URL=http://localhost:3000
SYSTEM_FEE_WALLET_ID=00000000-0000-0000-0000-000000000001
SYSTEM_DEPOSIT_WALLET_ID=00000000-0000-0000-0000-000000000002
SYSTEM_WITHDRAWAL_WALLET_ID=00000000-0000-0000-0000-000000000003

